@model IEnumerable<CamargoInmobiliaria.Contrato>

@{
    ViewData["Title"] = "Index";
}

<h1>Inicio</h1>

<p>
    <a asp-action="Create">Nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fechaInicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fechaFinal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.montoMensual)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fechaInicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fechaFinal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.montoMensual)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id= item.Id }) |
                @Html.ActionLink("Detalles", "Details", new { id= item.Id }) |
                @Html.ActionLink("Eliminar", "Delete", new {  id= item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
