@model IEnumerable<CamargoInmobiliaria.Inmueble>

@{
    ViewData["Title"] = "PorPropietario";
}

	<h1>Inmuebles por Propietario (@ViewBag.Id)</h1>
<h2>@ViewBag.Propietario.Nombre @ViewBag.Propietario.Apellido</h2>
<p>
    <a asp-action="Create">Crear Nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdInmueble)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Direccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ambientes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Latitud)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Longitud)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PropietarioId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdInmueble)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Direccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ambientes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Latitud)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Longitud)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PropietarioId)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new {  id=item.PropietarioId }) |
                @Html.ActionLink("Detalles", "Details", new { id=item.PropietarioId }) |
                @Html.ActionLink("Eliminar", "Delete", new { id=item.PropietarioId })
            </td>
        </tr>
}
    </tbody>
</table>
